<!doctype html>
<title>Cybear Studios</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
<a href="{{ url_for('index') }}"><h1 style="padding:0.5em">Cybear Studios</h1></a>
<div class=metanav><table><tr><td><ul>
 
{% if session.seclvl >= 2 %}
<li><a href="{{ url_for('accountlist') }}">account list</a></li>
{% endif %}
  
{% if session.seclvl >= 2 %}
<li><a href="{{ url_for('create_user') }}">create user</a></li>
{% endif %}

{% if not session.logged_in %}
<li><a href="{{ url_for('login') }}">log in</a></li>
{% else %}
<li><a href="{{ url_for('logout') }}">log out</a></li>
{% endif %}

</ul></td></tr></table></div>
<div class=content>
{% block body %}{% endblock %}
</div>
<div class=footer>
<p>created by Tucker Weatherby<p>
</div>
</div>
<div class=notice>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
{% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
{% endfor %}
</div>


